src/flows/flow-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>no</name>
        <choiceText>no</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>yes</name>
        <choiceText>yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>decision</name>
        <label>decision</label>
        <locationX>83</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>Thanks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>READY_FOR_SURVEY_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey</targetReference>
            </connector>
            <label>outcome</label>
        </rules>
    </decisions>
    <interviewLabel>flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>flow</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Survey</name>
        <label>Create Survey</label>
        <locationX>242</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Thanks</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>SurveyOnAccount.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EmailAddress__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rating__c</field>
            <value>
                <elementReference>Rating</elementReference>
            </value>
        </inputAssignments>
        <object>Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>AccountLookup</name>
        <label>AccountLookup</label>
        <locationX>553</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Survey</targetReference>
        </connector>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SurveyOnAccount.Account__c</assignToReference>
            <field>AccountNumber</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Ready_for_Survey</name>
        <label>Ready for Survey</label>
        <locationX>16</locationX>
        <locationY>34</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>decision</targetReference>
        </connector>
        <fields>
            <name>READY_FOR_SURVEY_1</name>
            <choiceReferences>yes</choiceReferences>
            <choiceReferences>no</choiceReferences>
            <dataType>String</dataType>
            <fieldText>READY FOR SURVEY</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Survey</name>
        <label>Survey</label>
        <locationX>354</locationX>
        <locationY>1</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AccountLookup</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Rating</name>
            <dataType>String</dataType>
            <fieldText>Rating</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Thanks</name>
        <label>Thanks</label>
        <locationX>465</locationX>
        <locationY>373</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>outputtext</name>
            <fieldText>Thank you... for taking this survey!!!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupAccount</name>
            <dataType>String</dataType>
            <fieldText>LookupAccount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Ready_for_Survey</startElementReference>
    <variables>
        <name>AccName</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>AccountList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SurveyOnAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Survey__c</objectType>
    </variables>
</Flow>
